<div class="post-container">
    <div class="post-detail gt-bg-theme-color-second gt-c-content-color-first">
        <article class="gt-post-content">
            <h1 class="post-title">友情链接</h1>
            <div class="post-content">
                <div class="friends-desc"><%- page.content %></div>
                <h3 id="linklist">友链列表</h3>
                <% if (theme.friends) { %>
                    <% theme.friends.forEach(function(friend) { %>
                        <div class="friend-box">
                            <a href="<%= friend.link %>" target="_blank" rel="noopener nofollow">
                                <img class="friend-avatar" src="<%= friend.logo %>" loading="lazy">
                            </a>
                            <div class="friend-info">
                                <a class="friend-info-title gt-c-content-color-first" 
                                    href="<%= friend.link %>" target="_blank" 
                                    rel="noopener nofollow"><%= friend.name %></a>
                                <br>
                                <div class="friend-info-description gt-c-content-color-first">
                                    <%= friend.description %>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    暂无友链，快来申请吧！
                <% } %>
            </div>
        </article>
    </div>
    <%- partial("_includes/disqus.ejs") %>
    <%- partial("_includes/gitalk") %>
    <%- partial("_includes/valine") %>
</div>
