<div class="post-list-container">
    <div class="post-inner">
        <% page.posts.forEach(function(post) { %>
            <article class="post gt-bg-theme-color-second">
                <div class="post-left">
                    <% if (post.top) { %>
                        <span class="sticky-top-flag gt-bg-accent-color-first">置顶</span>
                    <% } %>
                    <a href="<%- url_for(post.path) %>">
                        <span class="post-title gt-c-content-color-first"><%= post.title || "(无标题)" %></span>
                    </a>
                    <div class="gt-post-content post-abstract gt-c-content-color-second">
                        <p><%= post.excerpt.replace(/(<(\/?)(\w+)[^>]*>)|(<!--[\s\S]*?-->)/g ,'').replace(/\s+/g,' ') %></p>
                    </div>
                    <div class="post-info">
                        <span>
                            <time class="post-time gt-c-content-color-first">
                                · <%- date(post.date) %> ·
                            </time>
                            <% post.tags.forEach((tag) => { %>
                                <a href="<%= url_for(tag.path) %>" class="post-tag">
                                    #<%= tag.name %></a>
                            <% }); %>
                        </span>
                    </div>
                </div>
                <% if (theme.post.feature && post.feature) { %>
                    <a href="<%= url_for(post.path) %>" class="post-feature-image"
                        style="background-image: url('<%= post.feature %>');">
                    </a>
                <% } %>
            </article>
        <% }); %>
    </div>
</div>

<div class="pagination-container">
    <% if (page.prev) { %>
        <a href="<%= url_for(page.prev_link) %>" class="prev-page gt-a-link">上一页</a>
    <% } %>
    <% if (page.next) { %>
        <a href="<%= url_for(page.next_link) %>" class="prev-page gt-a-link">下一页</a>
    <% } %>
</div>
