<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
        <%- partial("_includes/head") %>
    </head>
    <body>
        <div class="main gt-bg-theme-color-first">
            <div class="main-content">
                <%- partial("_includes/header") %>
                <%- body %>
                <%- partial("_includes/footer") %>
            </div>
        </div>
    </body>
</html>