<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title><%= page.archive ? `归档 - ${config.title}` : page.title ? `${page.title} - ${config.title}` : `${config.title}` %></title>

<!-- Icon -->
<link rel="icon" href="<%- url_for(theme.favicon) %>">

<!-- Fonts -->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" as="style" onload="this.onload=null, this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"></noscript>

<% if(theme.katex) { %>
    <!-- KaTeX -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" as="style" onload="this.onload=null, this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"></noscript>
<% } %>

<!-- Style -->
<%- css('styles/main') %>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hexo-theme-pure@1.0.1/dist/main.css"> -->

<% if (theme.web_analytics && theme.web_analytics.enable) { %>
    <% if (theme.web_analytics.google) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics.id  %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '<%- theme.google_analytics.id  %>');
        </script>
    <% } %>
    <% if (theme.web_analytics.baidu) { %>
        <!-- Baidu Analytics -->
        <script defer>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement('script');
                hm.src = 'https://hm.baidu.com/hm.js?<%= theme.web_analytics.baidu %>';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
<% } %>


<% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<% } %>
